/* Form Front end */
.pfb-form {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
}

.pfb-field {
    margin-bottom: 15px;
}

.pfb-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.pfb-field input,
.pfb-field select,
.pfb-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pfb-error {
    background: #ffeaea;
    color: #a00;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 4px solid red;
}

.pfb-success {
    background: #e7f7e7;
    color: #0a7a0a;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 4px solid green;
}

/* Error message */
.pfb-has-error label {
    color: #e53935;
    font-weight: 500;
}

.pfb-error-input {
    border: 1.5px solid #e53935 !important;
    background: #fff6f6;
}

.pfb-error-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(229,57,53,.15);
}

/* Image Preview */
.pfb-image-preview {
    margin-top: 10px;
}

.pfb-image-preview img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 6px;
    border: 1px solid #ddd;
    object-fit: cover;
}



/* User View Entry */

.pfb-profile-card{
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.pfb-profile-image {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.pfb-profile-image img{
  max-width: 220px;
  border-radius: 12px;
}

.pfb-download-btn{
  display: inline-block;
  margin-top: 10px;
  background: #0073aa;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
}

.pfb-info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 18px;
  background: #f7fafc;
  border-radius: 10px;
  margin-bottom: 12px;
}

.pfb-label{ 
  font-weight: 600;
  color: #333;
}

.pfb-value{
  color: #555;
}

.pfb-edit-btn{
  display: block;
  text-align: center;
  margin-top: 30px;
  background: #111827;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
}

